.main {
    background: linear-gradient(to bottom right, #ffccaa, #afe9dd);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc {
    width: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.calc-meaning {
    background-color: #ffccaa;
    color: #666666;
    border-bottom: 2px solid #ff924b;
    border-right: 2px solid #ff924b;
    border-top: 2px solid #666666;
    border-left: 2px solid #666666;
    height: 100px;
    font-size: 65px;
    font-weight: bold;
}

.calc-item {
    height: 80px;
    padding: 0;
}

.button {
    color: #ffffff;
    border-bottom: 2px solid #ff924b;
    border-right: 2px solid #ff924b;
    font-size: 35px;
    font-weight: bold;
    background-color: #ffccaa;
}

.button-equally {
    background-color: #afe9dd;
}

@media (max-width: 640px) {
    .calc-item {
        height: 60px;
        padding: 0;
    }

    .calc {
        width: 80%;
        
    }
}